<!--
  Generated template for the DownloadsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Your Library</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
        <div *ngIf="isDataAvailable">
        <ion-list *ngFor="let d of data | keys"
                  (click)="playAudio(d.value)">
            <button ion-item>
            <ion-thumbnail item-left>
                <img src="{{d.value.thumb}}" />
            </ion-thumbnail>
            <h2 style="white-space: normal">{{d.value.title}}</h2>
            <p>{{d.value.duration}}</p>
            <!-- Downloaded: {{getPercentage(d.value.progress)}}% -->

            </button>
        </ion-list></div>
        <button style="margin-left: 16px" ion-button (click)="clear()">Clear</button>
        <button ion-button (click)="reload()">Reload</button>
</ion-content>
